@use "./functions" as *;
@use "./variables" as *;

.contact{
    height: 100%;  
    padding-top: 10vh;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    &__wrapper{
        flex-direction: column
    }
    &__text {
        font-size: 2.5rem;
        color: set-text-color($primary-color);
    }
    &__mail {
        font-size: 1.5rem;
        color: set-text-color($primary-color);
    }
    &__tel {
        font-size: 1.5rem;
        color: set-text-color($primary-color);
    }
    &__adress {
        font-size: 1.5rem;
        color: set-text-color($primary-color);
    }
}

.social-icons--contact{
    position: initial !important;
    margin-top: 2rem;
}