@use "./functions" as *;
@use "./mixins" as *;
@use "./variables" as *;

.projects {
  padding-bottom: 2rem;

  &__text {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.7rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
    padding: 0 4rem;
    width: 100%;
  }

  &-image {
    height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .text-secondary {
      font-size: 2rem;
      padding-bottom: 2rem;
    }
  }

  &__items {
    width: 60vw;
    margin: 2rem auto 2rem auto;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  &__item {
    position: relative;
    border-bottom: 5px solid $secondary-color;
    overflow: hidden;
    cursor: pointer;
    &:hover {
      .projects__btns {
        opacity: 1;
      }
    }

    img {
      width: 100%;
    }

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 100%;
      background-color: $secondary-color;
      opacity: 0;
      @include transition-ease;
    }

    &:hover {
      &::after {
        top: 0;
        opacity: 0.9;
      }
    }
  }

  &__btns {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    @include transition-ease;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &__btn {
    z-index: 1;
    @include transition-ease;
    &:hover {
      color: set-text-color(set-text-color($primary-color));
    }
  }

  &-image {
    text-align: center;
  }

  .social-icons {
    display: flex;
    flex-direction: column;
  }

  footer {
    transform: rotate(90deg) translate(-3rem, -5rem);
  }
}

.active {
  color: $secondary-color;
}
